.book-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 50px;
}
.element-style h1{
  font-size: 60px;
  font-weight: bold;
}
.element-style p{
    width: 600px;
}
.element-style button{
    border: none;
    background-color: lightslategrey;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
}
.customer-review h1{
    margin-top: 80px;
    font-weight: 700;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.add-reviews{
    margin-bottom: 50px;
    margin-top: 20px;
}
.add-reviews a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
}
@media (min-width: 481px) and (max-width: 767px) {
    .book-container{
        display: block;
    }
    .element-style p{
        width: 400px;
    }
    .element-style h1{
        font-size: 30px;
        font-weight: bold;
      }
}

@media (min-width: 481px) and (max-width: 767px){
    .items-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .items-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .book-container{
        display: block;
    }
}
@media (min-width: 1280px) {
    .items-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}